
body {
font-family: 'Merriweather', serif;
}

input:focus { 
    border-color: blue;
}

/*Media Queries Phone------------------------------------ */

@media (min-width:320px) {

.title {
text-align: center;
    color: white;
    font-size: 0.7em;
    text-transform: uppercase;
    background-color: #263B47;
	padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
text-align: center;
color:#263B47;
font-size: 1.2em;
}

p:nth-of-type(1) {
text-align: center;
color: #CACACA;
font-size: 0.9em;
}

fieldset {
border:none;
padding-left:0px;
display:flex;
align-content:space-around;

}


.newsletter input{
margin-right:0px;
}

legend {
font-weight:700;
color:#263B47;
font-size: 1.2em;
padding-left:0px:
}

label {
padding-bottom: 5px;
padding-top: 5px;
font-size: 0.9em;
 color: #797979;
}

input::placeholder {
text-align:right;
padding-right:5px;
}

.newsletter_choice label {
padding-left:10px;
}

textarea {
background-color:#dedede;
border:none;
align-items:stretch;
margin:auto;
}

button {
background-color:#53bbb3;
border:none;
padding:15px;
color:white;
font-weight:700;
border-radius : 5px;
align-content:stretch;
justify-content:center;
align-items:center;
margin:auto;
}




}

/*Media Queries Desktop------------------------------------ */

@media (min-width:768px) {

}