
body {
font-family: 'Merriweather', serif;
}

.title {
text-align: center;
    color: white;
    font-size: 0.7em;
    text-transform: uppercase;
    background-color: #263B47;
	padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
text-align: center;
color:#263B47;
font-size: 1.2em;
}

p {
text-align: center;
color: #CACACA;
font-size: 0.9em;
}

form {
display : flex;
flex-direction:column;
}

fieldset {
border:none;
padding-left:0px;
flex-wrap:wrap;
}

legend {
font-weight:700;
color:#263B47;
font-size: 1.2em;
padding-left:0px:
}

label {
font-size: 0.9em;
 color: #797979;

}

label, input {
justify-content:flex-start;
flex-direction:column;

}


text {
border-radius : 10px;
}

/*Media Queries Phone------------------------------------ */

@media (min-width:320px) {

}

/*Media Queries Desktop------------------------------------ */

@media (min-width:768px) {

}